body {
  margin: 1px;
  background: #fff;
}

header {
  max-width: 1680px;
  background: #fff;
}

section {
  max-width: 1680px;
  max-height: 960px;
  height: 100vh;
  padding: 80px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer {
  max-width: 1680px;
  max-height: 501px;
  height: 100vh;
  padding: 80px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

a {
  text-decoration: none;
}

p {
  font-family: Montserrat;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.015em;
  color: rgba(0, 0, 0, 0.8);
}

.p_large {
  font-size: 36px;
  line-height: 50px;
}

h1 {
  font-family: Montserrat;
  font-size: 56px;
  line-height: 80px;
  text-align: center;
  letter-spacing: -0.015em;
  color: #000000;
}

h4 {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.015em;
  color: #000000;
}

/* navigation container */
.nav_container {
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1526px;
  height: 60px;
  padding: 0 80px;
  margin: auto;
}

.nav_container .logo_navigation_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav_container .logo_navigation_menu .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 32px;
}

.nav_container .logo_navigation_menu .logo .logo_simbol {
  position: relative;
  bottom: 3px;
}

.nav_container .logo_navigation_menu .logo .logo_text {
  margin-left: 12px;
}

.nav_container .reg_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 40px;
}

/* Logo */
/* Navigation buttons*/
.nav_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav_btn {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.015em;
  color: #18A0FB;
  margin-left: 43px;
}

/* Registration buttons */
.btn {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 17px;
  line-height: 21px;
  letter-spacing: -0.015em;
  background: #fff;
  color: #18A0FB;
  text-decoration: none;
  border: 1px solid #18A0FB;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 6px;
  width: 130px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.btn_accent {
  background: #18A0FB;
  color: #fff;
  border: none;
}

.register {
  margin-left: 12px;
}

/* Join section */
.join_sec {
  background: url(images/video_ramis.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

.join_sec__title {
  margin-top: 552px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.call_to_btn {
  min-width: 192px;
  min-height: 52px;
}

/* Learns section */
.learn_sec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-height: 948px;
}

.learn_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  padding-top: 40px;
}

.card_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card_header {
  font-size: 48px;
  line-height: 72px;
}

.card {
  width: 45%;
  min-width: 373px;
}

/* photo section */
.photo_sec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 80px;
  max-height: 600px;
}

.photo {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 50%;
  min-width: 414px;
  margin: 0 20px;
}

.photo_right {
  background: #F5F5F5;
}

/* Partners section */
.part_sec {
  max-height: 738px;
}

.part_header {
  font-size: 48px;
  line-height: 72px;
  margin-bottom: 30px;
}

.part_parag {
  margin-top: 30px;
  max-width: 1392px;
  text-align: center;
}

.part_cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  width: 1028px;
  height: 216px;
  margin-top: 44px;
}

.part_photo {
  width: 173px;
  height: 76px;
  padding: 0 42px 64px;
}

/* Contact us section */
.contact_us_sec {
  max-height: 340px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: #F5F5F5;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 0 80px;
}

.p_contact_us {
  max-width: 943px;
  margin-right: 60px;
}

.btn_marg {
  margin-left: 45px;
}

/* Footer section */
.footer_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  border-bottom: solid 1px;
  padding-bottom: 40px;
}

.footer_menu_link {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: -0.015em;
  color: #000000;
}

.link_conainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 458px;
  min-width: 271px;
}

.partner_icon_cont {
  padding: 80px 0 40px 0;
}

i[class^="icon"]:not(:first-of-type) {
  margin-left: 21px;
}

/* Media */
@media screen and (max-width: 924px) {
  .learn_sec {
    max-height: none;
    height: auto;
  }
  .card_block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .learn_header {
    font-size: 50px;
  }
  .card_header {
    font-size: 40px;
  }
  .link_conainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer_menu {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer_menu_link {
    text-align: center;
  }
}

@media screen and (max-width: 1100px) {
  .photo_sec {
    max-height: none;
    height: auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .part_sec {
    max-height: none;
    height: auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .part_cont {
    width: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: auto;
  }
  .contact_us_sec {
    height: auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    padding: 10px 80px 50px;
  }
  .p_contact_us {
    margin-right: 0;
  }
}
/*# sourceMappingURL=style.css.map */