body {
  margin: 0;
  background:#FFFFFF;
}
header {
  max-width: 1680px;
  background:#FFFFFF;
}
section{
  max-width: 1680px;
  max-height: 960px;
  height: 100vh;
  padding: 80px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
footer{
  max-width: 1680px;
  max-height: 501px;
  height: 100vh;
  padding: 80px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
a{
  text-decoration: none;
}
p{
  font-family: Montserrat;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.015em;
  color: rgba(0, 0, 0, 0.8);
}
.p_large{
  font-size: 36px;
  line-height: 50px;
}
h1{
font-family: Montserrat;
font-size: 56px;
line-height: 80px;
text-align: center;
letter-spacing: -0.015em;
color: #000000;
}
h4{
font-family: Montserrat;
font-weight: bold;
font-size: 24px;
line-height: 36px;
letter-spacing: -0.015em;
color: #000000;
}
/* navigation container */
.nav_container{
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1526px;
  height: 60px;
  padding: 0 80px;
  margin: auto;
}
.logo_navigation_menu{
   display: flex;
}
/* Logo */
.logo{
  display: flex;
  align-items: center;
  margin: 0 32px;
}
.logo_simbol{
  position: relative;
  bottom: 3px;
}
.logo_text{
  margin-left:12px;
}
/* Navigation buttons*/
.nav_menu{
  display: flex;
  align-items: center;
}
.nav_btn{
  font-family: Montserrat;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.015em;
  color: #18A0FB;
  margin-left: 43px;
}
/* Registration buttons */
.reg_box{
  display: flex;
  align-items: center;
  margin-left: 40px;
}
.btn {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 17px;
  line-height: 21px;
  letter-spacing: -0.015em;
  background: #FFF;
  color: #18a0fb;
  text-decoration: none;
  border: 1px solid #18a0fb;
  box-sizing: border-box;
  border-radius: 6px;
  width: 130px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.btn_accent {
  background: #18a0fb;
  color: #fff;
  border: none;
}
.register{
  margin-left: 12px;
}
/* Join section */
.join_sec{
  background: url(images/video_ramis.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}
.join_sec__title{
  margin-top: 552px;
  display: flex;
  justify-content: center;
}
.call_to_btn{
  min-width: 192px;
  min-height: 52px;
}
/* Learns section */
.learn_sec{
  display: flex;
  align-items: flex-start;
  max-height: 948px;
}
.learn_header{
  display: flex;
  align-items: start;
  padding-top: 40px;
}
.card_block{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.card_header{
  font-size: 48px;
  line-height: 72px;
}
.card{
  width: 45%;
  min-width: 373px;
}
/* photo section */
.photo_sec{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 80px;
  max-height: 600px;
}
.photo{
  align-self: center;
  width: 50%;
  min-width: 414px;
  margin: 0 20px;
}
.photo_right{
  background: #F5F5F5;
}
/* Partners section */
.part_sec{
  max-height: 738px;
}
.part_header{
  font-size: 48px;
  line-height: 72px;
  margin-bottom: 30px;
}
.part_parag{
  margin-top: 30px;
  max-width: 1392px;
  text-align: center;
}
.part_cont{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  width: 1028px;
  height: 216px;
  margin-top: 44px;
}
.part_photo{
  width: 173px;
  height: 76px;
  padding: 0 42px 64px;
}
/* Contact us section */
.contact_us_sec{
  max-height: 340px;
  flex-direction: row;
  background: #F5F5F5;
  justify-content: flex-start;
  padding: 0 80px;
}
.p_contact_us{
  max-width: 943px;
  margin-right: 60px;
}
.btn_marg{
  margin-left: 45px;
}
/* Footer section */
.footer_menu{
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: solid 1px;
  padding-bottom: 40px;
}
.footer_menu_link{
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: -0.015em;
  color: #000000;
}
.link_conainer{
  display: flex;
  justify-content: space-between;
  width: 458px;
  min-width: 271px;
}
.partner_icon_cont{
  padding: 80px 0 40px 0;
}
i[class^="icon"]:not(:first-of-type){
  margin-left: 21px;
}
/* Media */
@media screen and (max-width: 924px){
  .learn_sec{
      max-height: none;
      height: auto;
    }
    .card_block{
        justify-content: center;
    }
    .learn_header{
        font-size: 50px;
    }
   .card_header{
       font-size: 40px;
   } 
   .link_conainer{
     flex-direction: column;
   }
   .footer_menu{
     justify-content: center;
   }
   .footer_menu_link{
     text-align: center;
   }

}
@media screen and (max-width: 1100px){
  .photo_sec{
    max-height: none;
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
  }
  .part_sec{
   max-height: none;
   height: auto;
   flex-wrap: wrap;
   align-content: center;
  }
  .part_cont{
    width: auto;
    justify-content: center;
    height: auto;
  }
  .contact_us_sec{
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding: 10px 80px 50px;
  }
  .p_contact_us{
    margin-right: 0;
  }
}