body {
  margin: 0;
  background:#FFFFFF;
}
header {
  max-width: 100%;
  background:#FFFFFF;
}
section{
  max-width: 1680px;
  height: 100vh;
  max-height: 960px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 80px;
  box-sizing: border-box;
}
footer{
  max-height: 501px;
}
a{
  text-decoration: none;
}
p{
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.015em;
  color: rgba(0, 0, 0, 0.8);
}
.p_large{
  font-size: 36px;
  line-height: 50px;
}
h1{
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 56px;
line-height: 80px;
text-align: center;
letter-spacing: -0.015em;
color: #000000;
}
h4{
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 36px;
/* identical to box height, or 150% */

letter-spacing: -0.015em;

color: #000000;
}

/* navigation container */
.nav_container{
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1526px;
  min-width: 930px;
  height: 60px;
  padding: 0 80px;
  margin: auto;
}
.logo_navigation_menu{
   display: flex;
}
/* Logo */
.logo{
  display: flex;
  align-items: center;
  margin-right: 32px;
}
.logo_simbol{
  position: relative;
  bottom: 3px;
}
.logo_text{
  margin-left:12px;
}
/* Navigation buttons*/
.nav_menu{
  display: flex;
  align-items: center;
}
.nav_btn{
  margin-left: 43px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.015em;
  color: #18A0FB;
}

/* Registration buttons */
.reg_box{
  display: flex;
  align-items: center;
  margin-left: 40px;
}
.btn {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 17px;
  line-height: 21px;
  letter-spacing: -0.015em;
  background: #FFF;
  color: #18a0fb;
  text-decoration: none;
  border: 1px solid #18a0fb;
  box-sizing: border-box;
  border-radius: 6px;
  width: 130px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.btn_accent {
  background: #18a0fb;
  color: #fff;
  border: none;
}
.register{
  margin-left: 12px;
}
/* Join section */
.join_sec{
  background: url(images/video_ramis.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}
.join_sec__title{
  margin-top: 552px;
  display: flex;
  justify-content: center;
}
.call_to_btn{
  width: 192px;
  height: 52px;
}
/* Learns section */
.learn_sec{
  display: flex;
  align-items: flex-start;
  max-height: 948px;
}
.learn_header{
  display: flex;
  align-items: start;
  padding-top: 40px;
}
.card_block{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.card_header{
  font-size: 48px;
  line-height: 72px;
  display: flex;
}
.card{
  width: 45%;
  min-width: 300px;
}
/* photo section */
.photo_sec{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 80px;
  max-height: 600px;
}
.photo{
  align-self: flex-start;
  width: 50%;
  max-width: 750px;
}
.photo_right{
  background: #F5F5F5;
}
/* Partners section */
.part_sec{
  max-height: 738px;
}
.part_descr{

}
.part_header{
  font-size: 48px;
  line-height: 72px;
  margin-bottom: 30px;
}
.part_parag{
  margin-top: 30px;
  max-width: 1392px;
  text-align: center;
}
.part_cont{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  width: 1028px;
  height: 216px;
  margin-top: 44px;
}
.part_photo{
  width: 173px;
  height: 76px;
  padding: 0 42px;
}
/* Contact us section */
.contact_us_sec{
  max-height: 340px;
  flex-direction: row;
  background: #F5F5F5;
  justify-content: flex-start;
}
.p_contact_us{
  max-width: 943px;
}
.btn_marg{
  margin-left: 45px;
}
/* Footer section */

.footer_menu{

}