header {
  max-width: 1680px;
  height: 960px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bg_header{
  background: url(images/video_ramis.png);
}
h1 {
  font-family: Montserrat;
  font-size: 56px;
  line-height: 80px;
  text-align: center;
  letter-spacing: -0.015em;
  color: #000000;
}
.bg_header__title{
  margin-top: 320px;
  margin-bottom: 180px;
}
.btn {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 17px;
  line-height: 21px;
  letter-spacing: -0.015em;
  color: #18a0fb;
  text-decoration: none;
  border: 1px solid #18a0fb;
  box-sizing: border-box;
  border-radius: 6px;
  width: 192px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 12px;
  cursor: pointer;
}
.btn_accent {
  background: #18a0fb;
  color: #fff;
}
body {
  margin: 0;
  background: rgb(224, 224, 224);
}
header {
  background: #fff;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}
.menu {
  max-width: 1448px;
  min-height: 61px;
  margin: auto;
  padding: 0 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}
.logo {
  display: flex;
  align-items: center;
}
.search_bar_wrapper {
  margin-left: 8px;
  position: relative;
  display: flex;
  align-items: center;
}
.search_bar {
  padding: 0 14px 0 36px;
  width: 281px;
  height: 40px;
  background: #f1f2f5;
  border-radius: 100px;
  border: 0;
  box-sizing: border-box;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
}
.search_bar::placeholder {
  color: #66676b;
}
.search_bar:focus {
  outline: none;
  background: #dededf;
}
.icon_search {
  position: absolute;
  fill: #66676b;
  left: 12px;
  width: 16px;
}
.search_bar:focus + .icon_search {
  fill: #36373a;
}
.menu > * {
  display: flex;
}
.top_nav {
  display: flex;
  width: 574px;
  min-width: 300px;
  justify-content: space-between;
  padding: 0 30px;
}
.top_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e5e6eb;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 8px;
}
@media screen and (max-width: 900px) {
  .search_bar {
    width: 200px;
  }
}
/* nav box */
body{
  margin: 0;
  background: rgb(216, 216, 216);
}
.frame{
  width: 100%;
  height: 60px;
  background: #fff;
  margin-top: 40px;
}
a{
  text-decoration: none;
}
.nav_box_two{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: auto;
  max-width: 1520px;
  min-width: 890px;
  height: 60px;
  padding: 0 20px 0 20px;
}
.log_nav{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.log_nav_left{
  display: flex;
  justify-content: space-between;
}
/* Logo */
.logo_box{
  margin-right: 30px;
}
.logo{
  display: flex;
  align-items: center;
}
.logo_simbol{
  position: relative;
  bottom: 3px
}
.logo_text{
  padding-left: 11.85px;
  font-family: Comfortaa;
  font-style: normal;
  font-weight: normal;
  font-size: 28.4444px;
  line-height: 32px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.015em;
  color: #000000;
}
/* Navigation buttons*/
.nav_bottons{
  margin-top: 11px;
  margin-bottom: 0;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.015em;
  color: #18A0FB;
}
.underline{
  margin: 1.5px 0 9.5px;
  width: 0;
  height: 1px;
  background: transparent;
  transition: 1s ease;
}
.nav_bottons:hover~.underline{
  font-weight: 600;
  color: #2bca8d;
  /* Kapēc nestrādā font-weight? */
  width: 100%;
  background: #18A0FB;
  transition: 1s ease;
}
.nav_menu{
  display: flex;
  align-items: center;
}
.nav_pages{
  margin-left: 40px;
}
/* Registration buttons */
.reg_box{
  display: flex;
  align-items: center;
  margin-left: 40px;
}
.register{
  width: 130px;
  height: 40px;
  border: none;
  border-radius: 6px;
  background: #18A0FB;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: -0.015em;
  color: #fff;
  margin-left: 12px;
}
.register:hover{
  font-weight: 600;
  background: #1691e2;
}
.log_in{
  width: 128px;
  height: 38px;
  border: 1px solid #18A0FB;
  border-radius: 6px;
  background: #FFF;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: -0.015em;
  color: #18A0FB;
}
.log_in:hover{
  background: rgb(240, 240, 240);
  font-weight: 600;
  color:#1691e2;
}